<div class="row minecraft-font text-light text-shadow pt-5 fade-in" id="faq">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <br>
        <h3>Q: Something something question?</h3>
        <p>A: Something something answer</p>
        <br>
        <h3>Q: Something something another question?</h3>
        <p>A: Something something another answer</p>
    </div>
    <div class="col-sm-2">

    </div>
</div>