<div class="p-5 mb-4 rounded-3 server-background text-light">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 minecraft-font text-shadow">Just an Earth Server</h1>
        <p class="minecraft-font text-shadow">yes, that's it...</p>
        <br>
        <button class="btn btn-lg btn-outline-light minecraft-font blur-bg text-shadow-small" id="javaIPButton">Java IP: jes.earth</button>
        <br>
        <sub id="bedrockIPButton" class="onhover-underline minecraft-font text-shadow-small">Bedrock IP: 162.55.0.248:25566</sub>
        <br>
    </div>
</div>