<div class="row fade-in">
    <div class="col-md-12">
        <div class="card bg-dark text-light border-0 minecraft-font">
            <div class="card-body">
                <h1 class="card-title text-center minecraft-font text-shadow">Our Roadmap</h1>
                <br>
                <div id="content">
                    <ul class="timeline">
                        <li class="event" data-date="Summer 2021">
                            <h3>Something</h3>
                            <p>Something description</p>
                        </li>
                        <li class="event" data-date="Fall 2021">
                            <h3>Something</h3>
                            <p>Something description</p>
                        </li>
                        <li class="event" data-date="Winter 2022">
                            <h3>Something</h3>
                            <p>Something description</p>
                        </li>
                        <li class="event" data-date="Spring 2022">
                            <h3>Something</h3>
                            <p>Something description</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>