<h1 class="minecraft-font text-light text-center pt-5 fade-in">Our Roadmap</h1>
<br>
<div id="timeline">

</div>
<script>
    for (let event of TIMELINE) {
        let div = document.createElement("div");
        div.classList.add("row");
        div.classList.add("fade-in");
        div.innerHTML = `<div class="col-md-12">
        <div class="card bg-dark text-light border-0 minecraft-font">
            <div class="card-body py-0">
                <div id="content">
                    <ul class="timeline py-2 pt-4">
                        <li class="event fade-in" data-date="${event.date}">
                            ${event.content}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>`;
        document.getElementById("timeline").appendChild(div);
    }
    let css = document.createElement("style");
    css.innerHTML = `
    .timeline {
        border-left: 3px solid ${TIMELINE_STYLE.lineColor} !important;
        background: ${TIMELINE_STYLE.backgroundColor} !important;
    }
    .timeline .event:after {
        -webkit-box-shadow: 0 0 0 3px ${TIMELINE_STYLE.lineColor} !important;
        box-shadow: 0 0 0 3px ${TIMELINE_STYLE.lineColor} !important;
    }
    `
    document.body.appendChild(css);
</script>