<h1 class="minecraft-font text-shadow text-light text-center pt-5 fade-in">Our Roadmap</h1>
<br>
<div id="timeline">

</div>
<script>
    let timeline = [
        {
            "date": "Summer 2021",
            "content": `<h3>Something</h3>
                        <p>Something description</p>`
        },
        {
            "date": "Fall 2021",
            "content": `<h3>Something</h3>
                        <p>Something description</p>`
        },
        {
            "date": "Winter 2021",
            "content": `<h3>Something</h3>
                        <p>Something description</p>`
        },
        {
            "date": "Spring 2022",
            "content": `<h3>Something</h3>
                        <p>Something description</p>`
        },
    ];
    for (let event of timeline) {
        let div = document.createElement("div");
        div.classList.add("row");
        div.classList.add("fade-in");
        div.innerHTML = `<div class="col-md-12">
        <div class="card bg-dark text-light border-0 minecraft-font">
            <div class="card-body py-0">
                <div id="content">
                    <ul class="timeline py-2 pt-4">
                        <li class="event fade-in" data-date="${event.date}">
                            ${event.content}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>`;
        document.getElementById("timeline").appendChild(div);
    }
</script>