<h1 class="minecraft-font text-light text-center pt-5 fade-in">How To Join</h1>
<br>
<div class="row text-light minecraft-font">
    <div class="col-sm-6 card bg-dark border-0">
        <div class="card-body bg-dark">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img style="max-height: 20vh" src="https://images-ext-1.discordapp.net/external/nx3sT7vyaQ1uGkr_iBoCgsReGV5cBuIgH3rrdjgUBIE/https/lh3.googleusercontent.com/EV8iaFpeMu3riNQfmsf83XW2T0QZIM01GX-vS0SkGY6PAC4FtWNsLlevM7e5mZVaNNjJLrKCSNTvNR7Iz5FmT5w%3Ds400" alt="...">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h2>Bedrock, Java and Pocket Edition</h2>
                    <ul>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 card bg-dark border-0">
        <div class="card-body bg-dark">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img style="height: 20vh;" src="/img/Playstation.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h2>PlayStation 4 and 5</h2>
                    <ul>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 card bg-dark border-0">
        <div class="card-body bg-dark">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img style="height: 20vh;" src="https://images-ext-1.discordapp.net/external/y1R_GvAA9Zrr8y-TC3BoctQ7l3812Q0boAZI9GR6huk/http/pngimg.com/uploads/xbox/xbox_PNG17528.png?width=1346&height=1331" alt="...">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h2>Xbox</h2>
                    <ul>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 card bg-dark border-0">
        <div class="card-body bg-dark">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img style="height: 20vh;" src="https://images-ext-1.discordapp.net/external/VAyCMWSF6CzvcNL_y1uOcP0vCrB5ZvjbuZ4RxKi5_7k/https/seeklogo.com/images/N/nintendo-switch-logo-38D4F5C7E7-seeklogo.com.png" alt="...">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h2>Nintendo Switch</h2>
                    <ul>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                        <li>something</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>