<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
    <title>Just Earth Minecraft Server</title>
</head>
<body class="bg-dark">
<div class="container">
    <%- include("./partials/navbar") %>
    <%- include("./partials/jumbotron") %>
    <%- include("./partials/roadmap") %>
</div>
<script src="js/main.js"></script>
</body>