<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
    <title>JES Earth Minecraft Server</title>
</head>
<body class="bg-dark">
<div class="container">
    <%- include("./partials/navbar") %>
</div>
</body>