<!DOCTYPE html>
<head>
    <%- include("./partials/head") %>
    <title>Just an Earth Server Rules</title>
</head>
<body class="bg-dark no-scroll">
<iframe class="fullscreen-iframe" src="https://docs.google.com/document/d/13hXADCkDh2dokdpHPL-JYQifLkjlePqddIuapCTL6l0/edit"></iframe>
<!--div class="container"-->
    <!--%- include("./partials/navbar") %-->
<!--/div-->
</body>