@font-face {
    font-family: "Minecraft";
    src: url("/font/minecraft.ttf");
}

.navbar-logo {
    width: 4rem !important;
    height: 4rem !important;
}

.minecraft-font {
    font-family: "Minecraft", sans-serif;
}

.nav-link {
    font-family: "Minecraft", sans-serif;
    font-size: 1.25rem;
}

.fullscreen-iframe {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.no-scroll {
    overflow: hidden;
}

.server-background {
    background-image: url("https://cdn.discordapp.com/splashes/767803717549948940/a5d734981dbe1488c6d93d4e59646dd4.jpg?size=2048");
    background-position: center;
}

.onhover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}